@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--border);
    }
}

:root {
    --radius: 0.625rem;
    --background: hsl(220 23.076923191547394% 94.90196108818054%);
    --foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --card: hsl(220 23.076923191547394% 94.90196108818054%);
    --card-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --popover: hsl(220 23.076923191547394% 94.90196108818054%);
    --popover-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --primary: hsl(0, 0%, 9%);
    --primary-foreground: hsl(220 23.076923191547394% 94.90196108818054%);
    --secondary: hsl(223 15.909090638160706% 82.74509906768799%);
    --secondary-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --muted: hsl(223 15.909090638160706% 82.74509906768799%);
    --muted-foreground: hsl(233 12.796208262443542% 41.372549533843994%);
    --accent: hsl(223 15.909090638160706% 82.74509906768799%);
    --accent-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --destructive: hsl(347 86.66666746139526% 44.11764740943909%);
    --border: hsl(225 13.55932205915451% 76.86274647712708%);
    --input: hsl(225 13.55932205915451% 76.86274647712708%);
    --ring: hsl(234 16.022099554538727% 35.49019694328308%);
    --chart-1: hsl(347 86.66666746139526% 44.11764740943909%);
    --chart-2: hsl(183 73.86363744735718% 34.50980484485626%);
    --chart-3: hsl(220 91.4893627166748% 53.921568393707275%);
    --chart-4: hsl(35 76.98412537574768% 49.41176474094391%);
    --chart-5: hsl(109 57.63546824455261% 39.803922176361084%);
    --sidebar: hsl(220 21.95121943950653% 91.96078181266785%);
    --sidebar-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --sidebar-primary: hsl(0, 0%, 9%);
    --sidebar-primary-foreground: hsl(220 23.076923191547394% 94.90196108818054%);
    --sidebar-accent: hsl(223 15.909090638160706% 82.74509906768799%);
    --sidebar-accent-foreground: hsl(234 16.022099554538727% 35.49019694328308%);
    --sidebar-border: hsl(225 13.55932205915451% 76.86274647712708%);
    --sidebar-ring: hsl(225 13.55932205915451% 76.86274647712708%);
}

.dark {
    --radius: 0.625rem;
    --background: hsl(240 21.052631735801697% 14.901961386203766%);
    --foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --card: hsl(240 21.052631735801697% 14.901961386203766%);
    --card-foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --popover: hsl(240 21.052631735801697% 14.901961386203766%);
    --popover-foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --primary: hsl(267 83.50515365600586% 80.98039031028748%);
    --primary-foreground: hsl(240 21.052631735801697% 14.901961386203766%);
    --secondary: hsl(237 16.239316761493683% 22.94117659330368%);
    --secondary-foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --muted: hsl(237 16.239316761493683% 22.94117659330368%);
    --muted-foreground: hsl(227 35.29411852359772% 80.0000011920929%);
    --accent: hsl(237 16.239316761493683% 22.94117659330368%);
    --accent-foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --destructive: hsl(343 81.25% 74.90196228027344%);
    --border: hsl(234 13.20754736661911% 31.176471710205078%);
    --input: hsl(234 13.20754736661911% 31.176471710205078%);
    --ring: hsl(226 63.93442749977112% 88.03921341896057%);
    --chart-1: hsl(343 81.25% 74.90196228027344%);
    --chart-2: hsl(170 57.35294222831726% 73.33333492279053%);
    --chart-3: hsl(217 91.86992049217224% 75.88235139846802%);
    --chart-4: hsl(41 86.04651093482971% 83.13725590705872%);
    --chart-5: hsl(115 54.09836173057556% 76.07843279838562%);
    --sidebar: hsl(240 21.311475336551666% 11.96078434586525%);
    --sidebar-foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --sidebar-primary: hsl(267 83.50515365600586% 80.98039031028748%);
    --sidebar-primary-foreground: hsl(240 21.052631735801697% 14.901961386203766%);
    --sidebar-accent: hsl(237 16.239316761493683% 22.94117659330368%);
    --sidebar-accent-foreground: hsl(226 63.93442749977112% 88.03921341896057%);
    --sidebar-border: hsl(234 13.20754736661911% 31.176471710205078%);
    --sidebar-ring: hsl(234 13.20754736661911% 31.176471710205078%);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
